{% extends 'base/web-base.html' %}
{% load static %}

{% block container %}

<header class="h-[80px] shadow-md">
    <ul class="flex justify-between w-[55%] md:w-[50%] py-3">
        <li><a href="{% url 'web:index' %}"><img src="{% static 'web/images/arrow.png' %}" alt="img"
                    class="w-[24px] ml-6  py-3"></a></li>
        <li class="font-bold text-[30px]">Checkout</li>
    </ul>
</header>

<section class="flex justify-center my-4">

    <div class="col-span-1 p-4 rounded-lg border  md:w-[50%] sm:w-[40%] mx-2 shadow-md">
        <h1 class="font-bold">BILL DETAILES</h1>
        <p class="flex justify-between my-4 border-b font-semibold mt-3 pb-2">item totel <span>₹300</span></p>
        <p class="flex justify-between my-4 border-b font-semibold  pb-2">Offer Applied <span>-₹50</span></p>
        <p class="flex justify-between my-4 border-b font-semibold  pb-2">delivery_charge<span>₹300</span></p>
        <h1 class="flex justify-between my-4 text-black font-black  pb-2">To Pay <span>₹300</span></h1>
    </div>

</section>




<section class="flex justify-center my-4">

    <div class="col-span-1 p-4 rounded-lg border  md:w-[50%] sm:w-[40%] mx-2 shadow-md">
        <h1 class="font-bold mb-3">PAYMENT METHOD </h1>

        <div class="border-b-2 my-2 py-3">
            <label><input type="radio"> <span class="font-bold">CREDIT / DEBIT / UPI</span></label>
        </div>

        <div class="border-b-2 my-2 py-3">
            <label><input type="radio"> <span class="font-bold">CODE</span></label>
        </div>

    </div>

</section>


<section class="flex justify-center my-4">

    <div class="col-span-1 p-4 rounded-lg bg-red-500  md:w-[50%] sm:w-[40%] mx-2 shadow-md font-bold text-white text-center">
        PLACE ORDER
    </div>

</section>        




{% endblock %}