{% extends 'base/web-base.html' %}
{% load static %}

{% block container %}


{% include 'includes/header.html' %}

<section class="py-10 wrapper">
    <section class="swiper mySwiper rounded-2xl">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="{% static 'web/images/slide1.png' %}" alt="image" class="w-full">
            </div>

            <div class="swiper-slide">
                <img src="{% static 'web/images/slide2.png' %}" alt="image" class="w-full">
            </div>

            <div class="swiper-slide">
                <img src="{% static 'web/images/slide3.png' %}" alt="image" class="w-full">
            </div>
        </div>

    </section>
</section>


<section>
    <section class="wrapper">
        <h1 class="text-[24px] font-semibold mb-5">What's on your mind?</h1>

        <div class="flex justify-start items-center overflow-scroll">
            {% for category in store_categories %}
            <a href="{% url 'web:restaurents' id=category.id %}"  class="min-w-[25%] max-w-[25%] sm:min-w-[20%] sm:max-w-[20%] md:min-w-[20%] md:max-w-[20%]">
                <img src="{{category.image.url}}" alt="image">
                <h3 class="text-center font-semibold">{{category.name}}</h3>
            </a>
            {% endfor %}

        </div>

    </section>
</section>





<section class="py-10">
    <section class="wrapper">
        <h1 class="text-[24px] font-semibold mb-5">Top Restorents!</h1>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-7">
            {% for store in stores %}
            <div class="col-span-1 p-4 rounded-lg border flex justify-start">

                <a href="{% url 'web:single_restaurent' store.id %}" class="flex">
                    <img src="{{ store.image.url }}" alt="image" class="w-[35%]  rounded-xl mr-4">
                    <div class="65%">
                        <h3 class="text-[16px] font-semibold mb-1">{{store.name}}</h3>
                        <p class="text-[12px] mb-4">{{store.tagline}}</p>
                        <div class="flex justify-start items-center">
                            <span class="flex justify-start items-center mr-4">
                                <img src="{% static 'web/images/star.png' %}" alt="image" class="w-[16px] mr-2 ">
                                {{store.rating}}
                            </span>

                            <span class="flex justify-start items-center">
                                <img src="{% static 'web/images/clock.png' %}" alt="image" class="w-[16px] mr-2 ">
                                {{ store.time }}
                            </span>

                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

    </section>
</section>













<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        breakpoints: {
            // when window width is <= 499px
            499: {
                slidesPerView: 1,
                spaceBetweenSlides: 30
            },
            // when window width is <= 999px
            999: {
                slidesPerView: 3,
                spaceBetweenSlides: 40
            }
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },

    });
</script>





{% endblock %}