{% extends 'base/web-base.html' %}
{% load static %}

{% block container %}

<section class="grid grid-cols-1 md:grid-cols-2">
    <div class="col-span-1 hidden md:flex">
        <img src="{% static 'web/images/rest2.png'%}" alt="img" class="w-full">
    </div>

    <div class="col-span-1 h-screen flex justify-center items-center ">
        <div class="text-center">
            <h1 class="text-[32px] font-semibold mb-5">SIGHN UP NOW</h1>
            <p class="w-[90%] md:w-[70%] m-auto mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
                magnam voluptatibus asperiores
                commodi velit ipsa.</p>


            <form action="" method="post" class="w-[90%] md:w-[70% ] m-auto">
                {% csrf_token %}
                <input type="text" name="first_name" placeholder="enter first name"
                    class="w-full   outline-none border rounded-2xl py-3 px-5 mb-7">
                <input type="text" name="last_name" placeholder="enter last name"
                    class="w-full   outline-none border rounded-2xl py-3 px-5 mb-7">
                <input type="text" name="email" placeholder="enter your email"
                    class="w-full   outline-none border rounded-2xl py-3 px-5 mb-7">
                <input type="password" name="password" placeholder="enter your password"
                    class="w-full   outline-none border rounded-2xl py-3 px-5 mb-7">
                <button type="submit" class="py-3 px-5 bg-red-500 text-white text-[14px] font-semibold rounded-xl">SIGHN
                    UP</button>
            </form>

            {% if error %}
               <p class="mt-5 text[14px] text-red-500">{{message}}</p>
            {% endif %}

            <p class="text-[14px] mt-5">Allready have aN Account? <a href="{% url 'web:login' %}"
                    class="text-red-500">login</a></p>

        </div>
    </div>
</section>


{% endblock %}