
{% extends 'base/web-base.html' %}

{% load static %} 

{% block container %}



{% include 'includes/header.html' %}

<section class="pt-10">
    <section class="wrapper">

        <div class="flex justify-start items-center overflow-scroll">
            {% for category in store_categories %}
            <a href="{% url 'web:restaurents' id=category.id %}"  class="min-w-[25%] max-w-[25%] sm:min-w-[20%] sm:max-w-[20%] md:min-w-[20%] md:max-w-[20%]">
                <img src="{{category.image.url}}" alt="image">
                <h3 class="text-center font-semibold">{{category.name}}</h3>
            </a>
            {% endfor %}

        </div>

    </section>
</section>

<section class="py-10">
    <section class="wrapper">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-7">
            {% for store in stores %}
            <div class="col-span-1 p-4 rounded-lg border flex justify-start">

                <a href="#" class="flex">
                    <img src="{{ store.image.url }}" alt="image" class="w-[35%] rounded-xl mr-4">
                    <div class="65%">
                        <h3 class="text-[16px] font-semibold mb-1">{{ store.name}}</h3>
                        <p class="text-[12px] mb-4">{{ store.tagline}}</p>
                        <div class="flex justify-start items-center">
                            <span class="flex justify-start items-center mr-4">
                                <img src="{% static 'web/images/star.png' %}" alt="image" class="w-[16px] mr-2 ">
                                {{ store.rating}}
                            </span>

                            <span class="flex justify-start items-center">
                                <img src="{% static 'web/images/clock.png' %}" alt="image" class="w-[16px] mr-2 ">
                                {{ store.time }}
                            </span>

                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

    </section>
</section>




{% endblock %}










